*{
    margin: 0;
    padding: 0;
}
.container{
    margin-bottom: 3vh;
}
.carousel-bg{
    border-radius: 1em;
    background-color: #feeae9;
    box-sizing: border-box;
}

.second-layer{
    box-sizing: border-box;
    margin-top: 2em;
    margin-bottom: 3em;
}
.buy-now-btn{
    width: 10em;
    height:2.9em;
    background-image: linear-gradient(45deg,#FF136f,#e933a0 );
    border-radius: .6em;
    color: white;
    font-weight: 700;
    border: none;
    box-shadow: 2px 5px 10px gray;
    margin-top: 3vh;
}

.price{
    color: #FF136f;
}

.slide-cont{
    box-sizing: border-box;
}
.d-img{
    border-radius: 1em;
    box-sizing: border-box;
    padding-left: 1em;
    object-fit: contain;
    width: 10vw;
    height: 25em;
}

.half-width{
    border-radius: 1em;
    box-sizing: border-box;
    width: 40vw;
    height:53vh;
}


.cntrl-btn{
    top: 19vh;
    height: 51vh;
}

.catagories{
    margin-bottom: 3em;
}

.cat1,.cat2,.cat3{
    box-sizing: border-box;
    border-radius: 1em;
    padding: 1em 1.5em;
    display: block;
    text-decoration: none;
}
.cat1{
    background-image: linear-gradient(100deg, #FF9C35,#FFD019);
    
}

.cat2{
    background-image: linear-gradient(300deg,#FF589B, #FF136F);
}

.cat3{
    background-image: linear-gradient( #4289FF,#3F07F8);
}

.catagories h1{
    color: white;
}
.catagories img{
    width: 9vw;
}

.card{
    border: none;
    box-shadow: 3px 5px 20px lightgray;
}
.container h3{
    font-weight: 300;
    padding-top: 2em;
    padding-bottom: 1em;
}

@media (max-width:769px) {
    .cat1,.cat2,.cat3{
        width: 30vw;
        padding: .8em 1em;
    }
    .container .cat-sections{
        width: 23vw;
        height: fit-content;
    }
    .cat-cont{
        display: flex;
        justify-content: space-between;
        width: 86vw;
    }
    .container .catagories{
        margin-left: 0;
        padding-left: 0;
    }
    .container h1{
        font-size: 1.2rem;
    }
    .half-width{
        height: 27vh;
    }
    .buy-now-btn{
        font-size: .8em;
        width: 7em;
        height:2em;
    }
    .cntrl-btn{
        display: none;
    }
    .col{
        width: 33vw;
    }
    .card-text{
        display: none;
    }
    .col h5{
        font-size: 1.2em;
    }
    .col .card-body{
        margin: 0;
        padding-left: .5em;
    }
    footer{
        font-size: .7em;
    }
}

footer{
    margin-top: 10em;
    margin-bottom: 1em;
    text-align: center;
}